@page "/Filme/{id:int}"
@model FilmeModel
@{
    ViewData["Title"] = "Filme";
}

<div class="row">
    <div class="col-sm d-flex justify-content-center" id="MeuFilme">

    </div>
</div>



<script src="~/js/filme.js" charset="utf8"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var filmeId = @Model.Id;
        $("#MeuFilme").html(templateFilme.ObterFilme(filmeId));
    });
</script>