<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes Favoritos</title>

    <!--Favicon-->
    <link rel="icon" type="image/ico" sizes="57x45" href="~/img/logo/favicon.ico">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap" rel="stylesheet">

    <!-- moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>

    <!--Awesome-->
    <link rel="stylesheet" href="~/fontawesome-5.13/css/all.css">

    <!--Styles-->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/banner.css">
    <link rel="stylesheet" href="~/css/movie-searched.css">

    <!--OWL CSS-->
    <link rel="stylesheet" href="~/owl/owl.theme.default.css">
    <link rel="stylesheet" href="~/owl/owl.carousel.min.css">

    <!--SCRIPTS-->
    <!--jQuery-->
    <script src="~/js/jquery-3.5.js"></script>

    <!--Main-->
    <script src="~/js/main.js"></script>

    <!--Owl-->
    <script src="~/owl/owl.carousel.min.js"></script>
    <script src="~/js/owl.js"></script>
    <!--end SCRIPTS-->
</head>
<body>
    <!--HEADER-->
    <header id="favorites">
        <!--Logo-->
        <div class="logo">
            <img src="img/logo/media.png" alt="Logo">
        </div>

        <!--WhatsApp and Messenger-->
        <div class="contacts-nav">
            <div class="whatsapp">
                <a href="https://api.whatsapp.com/send?phone=551199854XXXX" target="_blank">WhatsApp</a>
            </div>

            <div class="messenger">
                <a href="https://www.messenger.com/t/christiandevezas" target="_blank">Messenger</a>
            </div>
        </div>

        <!--Search-->
        <form action="" class="search">
            <input type="text" id="txtPesquisa" name="name" placeholder="procure seu filme">
            <button type="btnPesquisar">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <!--Navigation-->
        <nav id="navigation">
            <!--Main Menu-->
            <ul class="main-menu center">
                <li><a href="/">Home</a></li>
            </ul>

            <!--SideNav-->
            <ul id="navbar" class="side-nav">
                <li><a href="/">Home</a></li>
            </ul>

            <!--Main Menu button-->
            <button class="main-menu-btn">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </button>
        </nav>
        <!--end Navigation-->
        <!--Banner-->
        <section class="banner-home">
            <div class="banner center">
                <h1 class="banner-title marg-bottom">Star Wars</h1>
            </div>
        </section>
        <!--end Banner-->
    </header>
    <!--end HEADER-->
    <!--RESULTS-->
    @RenderBody()
    <!--end RESULTS-->
    <!--SOCIAL-->
    <section class="social">
        <div class="social-content width-section">
            <div class="social-media">
                <h2 class="social-media-title">Technologia</h2>
                <p class="social-media-para marg-bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos iusto nemo non quas  pariatur iure avante more strength quae odt greatfull consectetur!</p>
                <div class="social-media-icons">
                    <a href="https://twitter.com/login?lang=pt" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://pt-br.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/?hl=pt-br" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://br.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>

                <ul class="social-media-nav">
                    <li><a href="index.html">Home</a></li>
                </ul>
            </div>

            <div class="social-media">
                <h2 class="social-media-title">Tem perguntas?</h2>
                <p class="social-media-para marg-bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos iusto nemo non quas  pariatur iure avante more strength quae odt greatfull consectetur!</p>
                <div class="social-media-contact marg-bottom">
                    <i class="fas fa-envelope"></i>
                    <p>website@gmail.com</p>
                </div>
                <div class="social-media-contact marg-bottom">
                    <i class="fas fa-phone"></i>
                    <p>11 99854-XXXX</p>
                </div>
                <div class="social-media-contact">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Jardim Paulista, São Paulo</p>
                </div>
            </div>

            <div class="social-media">
                <h2 class="social-media-title">Horários abertos</h2>
                <p class="social-media-para marg-bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos iusto nemo non quas  pariatur iure avante more strength quae odt greatfull consectetur!</p>
                <div class="social-media-schedules">
                    <div class="social-media-days">
                        <p>Semana</p>
                        <p class="marg-top">Sábado</p>
                        <p class="marg-top">Domingo</p>
                    </div>
                    <div class="social-media-hours">
                        <p>8h - 18h</p>
                        <p class="marg-top">9h - 13h</p>
                        <p class="marg-top">Fechado</p>
                    </div>
                </div>
            </div>

            <!-- Link to top -->
            <a class="link-top" href="#favorites"><i class="fas fa-arrow-up"></i></a>
        </div>
    </section>
    <!--end SOCIAL-->
    <!--FOOTER-->
    <footer>
        <p><span>&copy;</span> Filmes Favoritos <span id="date"></span></p>
    </footer>
    <!--end FOOTER-->

</body>
</html>